* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
img {
	clip-path: polygon(17% 97%, 17% 73%, 36% 71%, 39% 30%, 31% 28%, 33% 7%, 66% 9%, 65% 28%, 72% 28%, 61% 30%, 61% 68%, 83% 68%, 80% 91%, 79% 97%);
}
