* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: black;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.caixa {
	background-color: white;
	width: 200px;
	height: 200px;
}
.caixa::after,
.caixa::before {
	content: "";
	display: block;
	position: absolute;
	width: 215px;
	height: 215px;
	translate: -7px -7px;
	z-index: -1;
	background-image: conic-gradient(from var(--angulo), transparent, blue);
	animation: Borda 3s infinite linear;
}

.caixa::before {
	filter: blur(50px);
}

@property --angulo {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

@keyframes Borda {
	from {
		--angulo: 0deg;
	}
	to {
		--angulo: 360deg;
	}
}
