body {
	background-color: rgb(80, 80, 80);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}
div {
	border-radius: 20px;
}

.containerPai {
	width: 1000px;
	background-color: black;
	display: flex;
	flex-direction: row;
	transition: all 2s;
}
.filho {
	flex-grow: 1;
	height: 100px;
	flex-shrink: 10px;
	background-color: purple;
	margin: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	font: normal 2em arial;
	color: white;
}
